:root {
  --color-text-primary: #c9d1d9;
  --color-text-primary-inverse: #0d1117;
  --color-text-secondary: #8b949e;
  --color-text-link: #58a6ff;
  --color-bg-primary: #0d1117;
  --color-bg-primary-inverse: #f0f6fc;
  --color-bg-secondary: #161b22;
  --color-border-primary: #30363d;
  --color-border-secondary: #21262d;
  --color-border-tertiary: #6e7681;
  --color-syntax-hl-line-hl: #ffffcc;
  --color-syntax-hl-line-num: #7f7f7f;
  --color-syntax-hl-var: #ff79c6;
  --color-syntax-hl-type: #8be9fd;
  --color-syntax-hl-func: #50fa7b;
  --color-syntax-hl-string: #f1fa8c;
  --color-syntax-hl-num: #bd93f9;
  --color-syntax-hl-comment: #6272a4;
  --color-syntax-hl-del: #8b080b;
  --color-syntax-hl-out: #44475a;
}

::-moz-selection, ::selection {
  color: var(--color-text-primary-inverse);
  background: var(--color-bg-primary-inverse);
}

body {
  color: var(--color-text-primary) !important;
  background-color: var(--color-bg-primary);
  font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial";
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
  border-color: none;
  box-shadow: none;
}

h2, h3, h4, h5 {
  color: var(--color-text-primary) !important;
}

a {
  color: var(--color-text-link);
}

.anchor {
  color: var(--color-text-primary);
}

a:hover {
  color: var(--color-text-link);
}

#sidebar ul li.visited>a .read-icon {
  color: var(--color-text-link);
}

#body a.highlight:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  transition: width 0.5s ease;
  background-color: var(--color-text-link);
}

#sidebar {
  background: var(--color-bg-secondary);
}

#sidebar #header-wrapper {
  background: var(--color-bg-secondary);
  color: var(--color-text-primary);
  border-color: var(--color-border-secondary);
}

#sidebar .searchbox {
  border-color: var(--color-border-secondary);
  background: var(--color-bg-primary);
}

#sidebar ul.topics>li.parent, #sidebar ul.topics>li.active {
  background: var(--color-bg-secondary);
}

#sidebar .searchbox * {
  color: var(--color-text-primary);
}

#sidebar a {
  color: var(--color-text-secondary);
}

#sidebar a:hover {
  color: var(--color-text-primary);
}

#sidebar a .logo, #sidebar a .logo::-moz-selection, #sidebar a .logo::selection {
  margin: 0px !important;
  color: var(--color-text-primary) !important;
  background: var(--color-bg-primary) !important;
}

#sidebar ul li.active>a {
  background: var(--color-bg-secondary);
  color: var(--color-text-primary) !important;
}

#sidebar hr {
  border-color: var(--color-border-secondary);
}

#sidebar #shortcuts h3 {
  font-family: inherit;
  color: var(--color-text-primary);
  margin-top: 1rem;
  padding-left: 1rem;
}

#footer {
  padding: 3rem 1rem;
  color: var(--color-text-secondary);
  font-size: 12px;
}

#footer p {
  margin: 0;
}

pre {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1.15;
}

.chroma {
  color: var(--color-text-primary);
  background: var(--color-bg-secondary);
  font-family: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo", "monospace";
}

.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  overflow: auto;
  display: block;
}

.chroma .hl {
  display: block;
  width: 100%;
  background-color: var(--color-syntax-hl-line-hl);
}

.chroma .lnt, .chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: var(--color-syntax-hl-line-num);
}

.chroma .k, .chroma .kc, .chroma .kn, .chroma .kp, .chroma .kr, .chroma .nt, .chroma .o, .chroma .ow, .chroma .cp, .chroma .cpf {
  color: var(--color-syntax-hl-var);
}

.chroma .kd, .chroma .kt, .chroma .nb, .chroma .nl, .chroma .nv, .chroma .vc, .chroma .vg, .chroma .vi {
  color: var(--color-syntax-hl-type);
  font-style: italic;
}

.chroma .na, .chroma .nc, .chroma .nf {
  color: var(--color-syntax-hl-func);
}

.chroma .s, .chroma .sa, .chroma .sb, .chroma .sc, .chroma .dl, .chroma .sd, .chroma .s2, .chroma .se, .chroma .sh, .chroma .si, .chroma .sx, .chroma .sr, .chroma .s1, .chroma .ss {
  color: var(--color-syntax-hl-string);
}

.chroma .m, .chroma .mb, .chroma .mf, .chroma .mh, .chroma .mi, .chroma .il, .chroma .mo {
  color: var(--color-syntax-hl-num);
}

.chroma .c, .chroma .ch, .chroma .cm, .chroma .c1, .chroma .cs {
  color: var(--color-syntax-hl-comment);
}

.chroma .gd {
  color: var(--color-syntax-hl-del);
}

.chroma .ge, .chroma .gl {
  text-decoration: underline;
}

.chroma .gh, .chroma .gi, .chroma .gu {
  font-weight: bold;
}

.chroma .go {
  color: var(--color-syntax-hl-out);
}
