<a id="logo"
  href='{{ (cond (and (ne .Site.Params.landingPageURL nil) (.Site.IsMultiLingual)) .Site.Params.landingPageURL "/") }}'>

  <svg width="90" height="48" version="1.1" viewBox="0 0 276 181" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <style>
        .cls-1 {
          fill: none;
          stroke: #1B1F23;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 8px;
        }
      </style>
    </defs>
    <title>SuicideOS Logo</title>
    <g transform="translate(-30 -4.5)">
      <text transform="scale(.96 1)" x="-7.8287621" y="22.123468" font-size="13px" stroke-width="1.1">
        <tspan x="96" y="174.0284" fill="#1b1f23" font-family="'Liberation Sans'" font-size="76px" stroke="#1b1f23"
          stroke-width="1.1">Suicide</tspan>
      </text>
      <g transform="matrix(.97 0 0 .97 -23 5.6)">
        <g transform="translate(-196,-24)">
          <path class="cls-1"
            d="m314 140c-3.9-0.74-7.9-1-12-0.84-5.3 0.26-9.6 1.4-18 3.8-16 4.6-16 4.6-16 4.6-7.1 1.5-18 0.91-33-8.6m-5.1-33 10 100h71l9.5-100zm99-11h-109v10h109zm-8.3-8.4c-3.2-20-23-35-46-35-23 0.057-43 15-46 35v8.3l92-0.2zm-43-16-5.5 75m3-51 5.8-69-5.2 70"
            stroke-linejoin="round" stroke-width="7.8" style="paint-order:normal" />
        </g>
      </g>
    </g>
  </svg>


</a>
